* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
    height: 6vh;
    font-size: 16px;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;

}

.search-bar {
    display: flex;

}

.drop-down {
    display: flex;
    align-items: center;
}

.nav-btn {
    display: flex;

    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color: rgb(249, 248, 250);
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    list-style: none;
    margin: 10px;

}

.link-nav {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.79);
}

.header-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.header-heading {
    margin-bottom: 50px;
}

.input-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-header {
    padding: 15px;
    width: 90%;
    border-radius: 8px;
    margin-bottom: 30px;
}

.btn-search {
    margin-bottom: 5px;
}

.link-search {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#green {
    border: none;
    background-color: green;
    color: white;
}

.Explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-challenge {
    border: 1px solid;
    width: 70%;
    height: 60vh;
    border-radius: 8px;
    position: relative;

}

.img-heading-container {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 70%;
    height: 150px;
}

.challenge-steps {
    display: flex;
    margin: 15px;
    width: 70%;
    height: 150px;

    gap: 35px;
}

.step-1 {
    display: flex;
    gap: 11px;
    height: 75px;
    width: 210px;
    border-radius: 8px;
    background-color: rgb(211, 234, 244);
    padding: 5px;

}

.step-2 {
    display: flex;
    padding: 5px;
    height: 75px;
    width: 210px;
    border-radius: 8px;
    gap: 11px;
    background-color: rgb(254, 221, 227);
}

.step-3 {
    display: flex;
    gap: 11px;
    height: 75px;
    width: 210px;
    border-radius: 8px;
    background-color: rgb(253, 253, 139);
}

.steps-img-container-1 {
    box-shadow: 1px 1px 1px gray;
    border-radius: 8px;
    background-color: rgb(143, 241, 209);
    margin: 2px;
}

.steps-img-container-2 {
    box-shadow: 1px 1px 1px gray;
    border-radius: 8px;
    background-color: rgb(242, 126, 197);
    margin: 2px;
}

.steps-img-container-3 {
    box-shadow: 1px 1px 1px gray;
    border-radius: 8px;
    background-color: rgb(241, 253, 78);
    margin: 2px;
}

.heading-challenge {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.challenge-para {
    font-size: 10px;
    font-weight: 300;
}

.video-container {
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    margin-right: 15px;
    top: 10px;
    border-radius: 8px;

    width: 250px;
    height: 250px;
}

video {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.challenge-btn {



    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-challenge {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
}

.explore-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card-container {
    display: flex;
    gap: 25px;
    width: 100%;
}

.card-1 {
    background-color: rgb(94, 94, 237);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-2 {
    background-color: rgb(132, 71, 78);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-3 {
    background-color: rgb(23, 95, 53);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-4 {
    background-color: rgb(127, 148, 70);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-5 {
    background-color: rgb(134, 202, 223);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-6 {
    background-color: rgb(192, 109, 73);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-7 {
    background-color: rgb(1, 181, 16);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-8 {
    background-color: rgb(240, 193, 233);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-9 {
    background-color: rgb(62, 41, 41);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-10 {
    background-color: rgb(1, 0, 50);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-11 {
    background-color: rgb(141, 189, 153);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.card-12 {
    background-color: rgb(138, 138, 148);
    border: 1px solid;
    border-radius: 8px;
    color: white;
    padding: 35px;
    margin: 15px;
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.link-card {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
}

.ads {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 80%;
    height: 15vh;
    padding: 10px;
    border-radius: 8px;
    color: rgb(211, 234, 244);
    margin-bottom: 30px;
}

.btn-ad {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.course-intro {
    display: flex;
    justify-content: space-between;
}

.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.course-img {
    min-height: 162px;
    max-height: 162px;
    object-fit: cover;
}

.course {
    text-align: center;
    border-radius: 8px;
    padding: 18px;
    margin-bottom: 25px;
    transition: ease-in 0.3s;
}

.course:hover {
    box-shadow: 2px 2px 2px gray;
}
.courses{
    margin-bottom: 60px;
}

.btn-course {
    text-decoration: none;

    border-radius: 5px;
    color: black;
    padding: 15px;
    background-color: yellow;
}
.must-container{
    display: flex;
    gap: 15px;
}
.must{
    padding: 10px;
    background-color: rgb(141, 141, 235);
    border-radius: 10px;
    width: 250px;
    text-align: center;
    height: 20vh;
    color: white;
    
}
.link-must{
    text-decoration: none;
}
.logo-container{
   
    height: 40vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-footer{
    display:flex;

}
.nav-footer li{
    list-style: none;
}
.link-footer{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
footer{
    display: flex;
}